body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f4f4f9;
}

h1 {
    text-align: center;
    color: #333;
}

#itemInput, #addItemButton {
    padding: 10px;
    font-size: 16px;
}

#itemInput {
    width: 250px;
    margin-right: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;

}

#addItemButton {
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 20px;
  }

  #addItemButton:hover {
    background-color: #45a049;
  }

  ul {
    list-style-type: none;
    padding: 0;
    margin-top: 20px;
    width: 100%;
    max-width: 320px;
  }

  li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
    border: 1px solid #ddd;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  li span {
    font-size: 16px;
  }

  li button {
    background-color: #e74c3c;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s;
  }

  li button:hover {
    background-color: #c0392b;
  }